{% extends 'home/userbase.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <title></title>
</head>
<body>

    <div id="wrapper" style="background-color: #b0ceff">

        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa " style="color: black;"></i></a>
                <h2 class="text-center">Randevularım</h2>
                <section id="team" class="pb-5">
                    <div class="container">
                       <table class="table" id="example">
                           <!--table-hover-->
                            <thead>
                                <tr>
                                    <th>Klinik</th>
                                    <th>Şehir</th>
                                    <th>Hastane</th>
                                    <th>Doktor</th>
                                    <th>Tarih</th>
                                    <th>Saat</th>
                                    <th>Alındığı Tarih</th>
                                    <th>Durum</th>
                                    <th>CRUD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                <tr style="color: black;">
                                    <td>{{ appointment.field }}</td>
                                    <td>{{ appointment.location }}</td>
                                    <td>{{ appointment.hospital }}</td>
                                    <td>{{ appointment.doctor }}</td>
                                    <td>{{ appointment.date.days }}</td>
                                    <td>{{ appointment.time }}</td>
                                    <td>{{ appointment.sent_date }}</td>
                                    <td>{{ appointment.status }}</td>
                                    <td id="crud_{{ appointment.id }}">
                                        &nbsp;
                                        &nbsp;
                                        <a href="{% url 'home:appointment_cancel' appointment_id=appointment.id %}"
                                           onclick="return confirm('İptal etmek istediğinize emin misiniz?')">
                                        <i class="bi bi-calendar-x" style="font-size: 18px; color: #e12454;" data-toggle="tooltip" title="İptal Et"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

{% endblock %}