{% extends 'home/userbase.html' %}
{% load static %}
{% block content %}

<body id="top">

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">User Doktorlar</span>
                        <h1 class="text-capitalize mb-5 text-lg">User doktorlar</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section doctors">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h2>Doktorlar</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Musterilerimiz icin cok cesitli saglik hizmeti sunuyoruz. </p>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center  mb-5">
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn active ">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked" />Tum Bolumler
                    </label>
                    {% for speciality in specialities %}
                        <label class="btn ">
                            <input type="radio" name="shuffle-filter" value="{{ speciality.id }}" />{{ speciality.name }}
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="row shuffle-wrapper portfolio-gallery">
                {% for doctor in doctors %}
                    <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[{{ doctor.speciality.id }}]">
                        <div class="position-relative doctor-inner-box">
                            <div class="doctor-profile">
                                <div class="doctor-img">
                                    {% if doctor.image %}
                                        <img src="{{ doctor.image.url }}" alt="" href="doctors/{{ doctor.id }}/" class="img-fluid" width="200" height="200">
                                    {% endif %}
                                    {% if not doctor.image %}
                                        <img src="{% static 'images/defaultd.png' %}" width="200" height="200" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="content mt-3">
                                <h3 class="mb-0"><a href="{{ doctor.id }}">{{ doctor.name }}</a></h3>
                                <p>{{ doctor.speciality }}</p>
                            </div>
                        </div>
                        <h5 class="card-title">
                            <span class="fa fa-star {% if doctor.average_rating > 0 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if doctor.average_rating > 1 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if doctor.average_rating > 2 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if doctor.average_rating > 3 %} checked {% endif %}" ></span>
                            <span class="fa fa-star {% if doctor.average_rating > 4 %} checked {% endif %}"></span>
                        </h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section cta-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="cta-content">
                        <div class="divider mb-4"></div>
                        <h2 class="mb-5 text-lg">Saglik hizmetine kolay ulastiginiz icin <span class="title-color">cok mutluyuz</span></h2>
                        <a href="appoinment.html" class="btn btn-main-2 btn-round-full">Randevu al<i class="icofont-simple-right  ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
