{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .login-form {
            width: fit-content;
            margin: auto;
            padding: 50px;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
        }
    </style>
    <title>Hastane Girişi</title>
</head>
<body>
    <div class="login-form container py-5" style="margin-top: 150px">
        <h1 style="margin-left: 15px">Giriş Yap</h1>
        <form method="POST">
            {% csrf_token %}
            {{ loginform|crispy }}
            <button class="btn btn-primary" style="margin-top: 10px; margin-left: 60px" type="submit">Giriş</button>
        </form>
        <p class="text-center">Kaydınız yok mu? <a href="/hospitalregister">kayıt</a> olun</p>
    </div>
</body>
{% endblock %}



