<div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="padding-top: 90% ">
        <li><a></a></li>
        <li> <a href="/">Ana Sayfa</a></li>
        <li> <a href="/add_doctor">Doktor Ekle</a></li>
        <li> <a href="/view_doctors">Doktorları Görüntüle</a></li>
        <li> <a href="/add_schedule">Çalışma Günü Ekle</a></li>
        <li> <a href="/view_schedule">Çalışma Günleri</a></li>
        <li> <a href="/view_appointments">Randevuları Görüntüle</a></li>
        <li><a class="nav-link"></a></li>
        <li><a href="/logout" class="btn-primary btn-danger" style="color: #FFFFFF; size: 50px">Çıkış Yap<i class="icofont-simple-right ml-2  "></i></a></li>
    </ul>
</div>